<div class="w-full h-full" >

  <div class="h-2/3 flex items-center justify-center">
    <h2 class="font-bold text-primary text-2xl"> Smart Wallet </h2>
  </div>

  <div class="flex flex-col items-center justify-center gap-2">
    <%= button_to "LOG IN", new_user_session_path, class: "bg-primary text-white px-7 py-2" %>
    <%= button_to "SIGN UP", new_user_registration_path, class: "hover:bg-neutral-focus px-7 py-2" %>
  </div>

</div>
